<b>Zip Code </b> {{id}}
<br>

    city: {{response.city}}
    state: {{response.state}}
    population: {{response.pop}}
<br>
<a href="http://localhost:3000/city?city={{response.city}}&state={{response.state}}">Click here to see all zip codes for {{response.city}}, {{response.state}}</a>